@charset "UTF-8";


*{
	padding : 0;
	margin : 0;
} 


.titulo_funcion{
	padding-top: 1em; 
    color: #0075FF;
    font-family: 'Teko';
    text-align: center;
    align-items: center;
    font-size: 5.5em;
}

.tittle_detalle{
	padding-top: 1em; 
    color: #0075FF;
    font-family: 'Teko';
    text-align: center;
    align-items: center;
    font-size: 5.5em;
}

.tittle_table{
	padding-top: 1em; 
    color: #0075FF;
    font-family: 'Teko';
    text-align: center;
    align-items: center;
    font-size: 5.5em;
}
.subtitulo_funcion{
	padding-top: 0.4em;
    color: black;
    font-family: 'Teko';
    text-align: center;
    align-items: center;
    font-size: 3em;
}

.card_funciones{
	border: 4px solid rgb(38, 145, 216);
	padding: 10px;
	margin: 3px;
	border-radius: 8px;
	transition: all 400ms ease;
}

.card_funciones:hover{
	box-shadow: 1px 2px 4px gray;
	transform: translateY(-1%);
}
.card_funciones h3{
	color: black;
	font-family: 'Teko';
    text-align: center;
	font-size: 2.2em;
}

.boton{
	justify-content: center;
    display: flex;
}
.boton a {
	background-color: #F4C210;
	text-align: center;
	align-items: center;
	font-family: 'Raleway';
	font-weight: bold;
	border-color: #F4C210;
	width: 100%;
}

.boton a:hover{
	background-color: #0075FF;
	color: white;
	border-color: #0075FF;
}

.card-header{
	color: black;
	font-family: 'Teko';
    text-align: center;
	font-size: 2.2em;
}

.detalle_img img{
	margin: auto;
	display: block;
}

.tablita_funciones tr{
	background-color:#F4C210;
}

.tablita_funciones th{
	font-family: 'Teko';
	font-size: 1.2em;
}

.mensajeFuncion{
	padding-top: 1em; 
    color: #0075FF;
    font-family: 'Teko';
    text-align: center;
    align-items: center;
    font-size: 5.5em;
}

.icono_eliminado{
	color: #0075FF;
	font-size: 5em;
}

