<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>MOVIE DRIVE || SEDES</title>
<link rel="shortcut icon" href="img/logo.png">
<!-- ICONOS -->
<script src="https://kit.fontawesome.com/812c8ee19a.js"
	crossorigin="anonymous"></script>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
	crossorigin="anonymous">
<!-- FUENTES -->
<link
	href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Teko:wght@400;600&display=swap"
	rel="stylesheet">
<!-- BOOTSTRAP -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">

<link th:href="@{/css/header.css}" rel="stylesheet">
<link th:href="@{/css/footer.css}" rel="stylesheet">
<link th:href="@{/css/estilosSedes.css}" rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/salas.css}">

<!-- LIBRERIA JQUERY DEL MENU -->
<script th:src="@{/js/jquery.js}"></script>
<!-- FIN DE LIBRERIA JQUERY -->
</head>
<body>
	<!-- INICIO HEADER -->
	<!-- INICIO HEADER -->
	<header th:insert="fragments/menu :: menu-principal"> </header>
	<!-- FIN HEADER -->
<br><br>
<h1 class="tittle_table">Listado de Sedes</h1>
	<table class="table table-striped table-bordered border-bark">
		<tr class="table-warning">
			<th>Logo</th>
			<th>NUMERO DE SALA</th>
			<th>NOMBRE</th>
			<th>DISTRITO</th>
			<th>SALARIO</th>
			<th>DESCRIPCIÓN</th>
			<th>DESTACADO</th>
			<th>DETALLE</th>
			<th>BORRAR</th>
		</tr>

		<tr class="table-light" th:each="sede : ${sedes}">
			<td><img th:src="@{/images/{img} (img = ${sede.Imagen})}"
				width="136" height="136"></td>
			<td th:text="${sede.numSala}"></td>
			<td th:text="${sede.sedeNombre}"></td>
			<td th:text="${sede.ciudad}"></td>
			<td th:text="${sede.distrito}"></td>
			<td th:text="${sede.confiteria}"></td>
			<td><span th:if="${sede.destacado ==1}"
				class="badge text-bg-success">Sí</span> <span
				th:unless="${sede.destacado ==1}" class="badge text-bg-danger">No</span>
			</td>

			<td><a
				th:href="@{/Sede/Detalle/view/{ID_SEDE} (ID_SEDE=${sede.ID_SEDE}) }"
				class="btn btn-success">Detalle</a></td>

			<td><a
				th:href="@{/Sede/Detalle/delete (ID_SEDE=${sede.ID_SEDE}) }"
				class="btn btn-danger">Borrar</a></td>

		</tr>

	</table>


	<!-- INICIO FOOTER -->
	<footer th:insert="fragments/footer :: pie-pagina" class="footer">
	</footer>
	<!-- FIN FOOTER -->
	<!-- FIN FOOTER -->
	<!-- LIBRERIAS PARA EL MENÚ -->
	<script th:src="@{/js/headroom.min.js}"></script>
	<script th:src="@{/js/menu-flex.js}"></script>
	<!-- FIN DE LIBRERIAS PARA EL MENÚ -->
	<!-- JSS -->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>

</body>
</html>