<nav th:fragment = "menu-principal" class="menu">
      <div class="logo">
        <a href="#" class="logito">
          <img th:src="@{/images/logo.png}" alt="" class="img-fluid img-logo" height="200px" width="180px">
        </a>
        <!--  <a href="#" class="marca">MOVIE DRIVE</a>-->
        <a href="#" class="btn-menu" id="btn-menu">
          <i class="fa-solid fa-bars icono-menu"></i>
        </a>  
      </div>  
      <div class="enlaces" id="enlaces"> 
        <a href="#" class="links">INICIO</a>
        <a href="#" class="links">CATEGORIAS</a>
        <a href="#" class="here">FUNCIONES</a>
        <a href="#" class="links">PELICULAS</a>
        <a href="#" class="links">SALAS</a>
        <a href="#" class="links">SEDES</a>
        <a href="#" class="links">CONFITERIA</a>
      </div>
    </nav>
    <div class="linea"></div>