
<section th:fragment="pie-pagina" class="container footer-container">
      <section class="row">
        <section class="col-xs-12 col-sm-12 col-md-4 border-right">
          <h2>¿QUIENES SOMOS?</h2>
          <p class="p-footer">Somos un apasionado grupo de estudiantes de CERTUS del quinto ciclo. Hemos creado esta
            página con dedicación y entusiasmo para compartir nuestra pasión por el cine y la comodidad de poder verlo
            desde nuestro propios asientos. Nuestra mision es proporconarte una gran variedad de peliculas y comodos
            espacios para disfrutar de la mejor manera estas obras de arte. ¡Bienvenido a MOVIE DRIVE!</p>
        </section>
        <section class="col-xs-12 col-sm-12 col-md-4 border-right">
          <h2 class="c2">ENLACES RAPIDOS</h2>
          <div>
            <a th:href="@{/}" class="enlaces-footer">INICIO</a>
            <a th:href="@{/categorias.html}" class="enlaces-footer">CATEGORIAS</a>
            <a th:href="@{/funciones.html}" class="enlaces-footer">FUNCIONES</a>
            <a th:href="@{/peliculas.html}" class="enlaces-footer">PELICULAS</a>
            <a th:href="@{/salas.html}" class="enlaces-footer">SALAS</a>
            <a th:href="@{/sedes.html}" class="enlaces-footer">SEDES</a>
            <a th:href="@{/confiteria.html}" class="enlaces-footer">CONFITERIA</a>
          </div>
        </section>
        <section class="col-xs-12 col-sm-12 col-md-4">
          <h2 class="c2">INFORMACION DE CONTACTO</h2>
          <div>
            <a href="https://wa.link/odayyx" class="contacto-footer" target="_blank"><i
                class="fa-brands fa-whatsapp icono-footer" style="color: #25D366;"></i>WHASTAPP</a>
            <a href="#" class="contacto-footer" target="_blank"><i class="fa-brands fa-facebook icono-footer"
                style="color: #4267B2;"></i>FACEBOOK</a>
            <a href="#" class="contacto-footer" target="_blank"><i class="fa-brands fa-twitter icono-footer"
                style="color: #1DA1F2;"></i>TWITTER</a>
            <a href="#" class="contacto-footer" target="_blank"><i class="fa-brands fa-instagram icono-footer"
                style="color: #C13584;"></i>INSTAGRAM</a>
          </div>
        </section>
      </section>
      <section class="row final-foo">
        <div class="linea2"></div>
      </section>
      <section class="row">
        <p class="final-p">Movie Driver © 2024 | Todos los derechos de autor reservados</p>
      </section>
    </section>  